[Unit]
Description=Run NHL Game Results Fetcher daily
Requires=nhl-fetcher.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target